<!--<style type="text/css">-->
<!--	ul li{-->
<!--		color: white;-->
<!--		padding-top: 5px;-->
<!--	}-->
<!--	@media(max-width: 1110px)-->
<!--      {-->
<!--          .fimg{-->
<!--               display: none;-->
<!--            }-->
<!--      }-->
<!--</style>-->
<!--&lt;!&ndash;footer start&ndash;&gt;-->
<!--<div class="container-fluid" style="background-color: #34495e;;">-->
<!--    <div class="row">-->
<!--    	<div class="col-md-2">-->
<!--    		<h5>Company</h5>-->
<!--    		<ul style="list-style-type: none;">-->
<!--    			<li>About Medassist</li>-->
<!--    			<li>Customer Speak</li>-->
<!--    			<li>In the News</li>-->
<!--    			<li>Terms and Conditions</li>-->
<!--    			<li>Privacy Policy</li>-->
<!--    			<li>Contact</li>-->

<!--    		</ul>-->
<!--    	</div>-->
<!--    	<div class="col-md-2">-->
<!--    		<h5>Shopping</h5>-->
<!--    		<ul style="list-style-type: none;">-->
<!--    			<li>Browse by manufacture</li>-->
<!--    			<li>Health Articles</li>-->
<!--    			<li>Offer / Coupens</li>-->
<!--    			<li>FAQs</li>-->
<!--    		</ul>-->
<!--    	</div>-->
<!--    	<div class="col-md-2">-->
<!--    		<h5>Categories</h5>-->
<!--    		<ul style="list-style-type: none;">-->
<!--    			<li>Ayush</li>-->
<!--    			<li>Devices</li>-->
<!--    			<li>Familu Care</li>-->
<!--    			<li>Fitness</li>-->
<!--    			<li>Personal Care</li>-->
<!--    			<li>Treatments</li>-->
<!--    		</ul>-->
<!--    	</div>-->
<!--    	<div class="col-md-2">-->
<!--    		<h5>Social</h5>-->
<!--    		<ul style="list-style-type: none;">-->
<!--    			<li>Facebook</li>-->
<!--    			<li>Twitter</li>-->
<!--    			<li>Instagram</li>-->
<!--    			<li>Youtube</li>-->
<!--    		</ul>-->
<!--    	</div>-->
<!--    	<div class="col-md-1"></div>-->
<!--    	<div class="col-md-3">-->
<!--    		<h6>SUBSCRIBE TO OUR NEWSLETTER</h6>-->
<!--    		<p style="color: white;">Get a free subscription to our health and fitness tip and stay tuned to our latest offers</p>-->
<!--    		<div class="row">-->
<!--    			<div class="col-md-12">-->
<!--    				<form>-->
<!--    					<input type="text" name="" placeholder="Enter your Email">-->
<!--    				</form>-->
<!--    			</div>-->
<!--    		</div><br>-->
<!--    		<div class="row fimg">-->
<!--    			<div class="col-md-12"><img src="/static/play.png" width="90" height="50"><span style="padding-left: 30px;"><img src="/static/app_store.png" width="90" height="50"></span></div></div>-->
<!--    		</div>-->
<!--    	</div>-->
<!--    	<br>-->
<!--    </div>-->

<!--&lt;!&ndash;footer end -&ndash;&gt;-->


<!-- Footer -->

 <footer class="page-footer" style="background-color: #151B54;">
        <div>
            <div class="box" style="padding: 20px; width:100%;display: flex;justify-content: center;">

                <div>
                    <div class="row">
                        <div class="col s12">
                            <h5 class="white-text">Med-Assist</h5>
                            <p class="grey-text text-lighten-4">Med-Assist.com is one of India’s most trusted
                                pharmacies, dispensing quality medicines at reasonable prices to over 7 million happy
                                customers – PAN India.</p>
                            <hr>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col s3">
                            <ul>
                                <li>
                                    <b>COMPANY</b>
                                </li>
                                <li>About Netmeds</li>
                                <li>Customers Speak</li>
                                <li>In the News</li>

                                <li>Fees and Payments Policy</li>
                                <li>Shipping and Delivery Policy</li>
                                <li>Return, Refund and Cancellation Policy</li>
                                <li>Contact</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>
                                    <b>SHOPPING</b>
                                </li>
                                <li>Browse by A-Z</li>
                                <li>Browse by Manufacturers</li>
                                <li>Health Articles</li>
                                <li>Offers / Coupons</li>
                                <li>FAQs</li>
                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>
                                    <b>SOCIAL</b>
                                </li>
                                <li>Patients Alike</li>
                                <li>Facebook</li>
                                <li>Twitter</li>
                                <li>LinkedIn</li>
                                <li>Youtube</li>
                                <li>Refer & Earn</li>

                            </ul>
                        </div>

                        <div class="col s3">
                            <ul>
                                <li>
                                    <b>SUBSCRIBE TO OUR NEWSLETTER</b>
                                </li>
                                <p>Get a free subscription to our health and fitness tip and stay tuned to our latest
                                    offers</p>

                                <span class="input-field inline">
                                    <input id="email_inline" type="email" class="validate">
                                    <label for="email_inline">Email</label>
                                </span>
                                <span>
                                    <button class="btn waves-effect waves-white btnsize #01a3a4 btnstyle editbtn"
                                        name="action" type="submit">&rarr;
                                        <i class="material-icons right"></i>
                                    </button>
                                </span>

                            </ul>
                        </div>

                    </div>
                    <hr>


                </div>





            </div>
        </div>
    </footer>



