<style type="text/css">
	ul li{
		color: white;
		padding-top: 5px;
	}
	@media(max-width: 1110px)
      {
          .fimg{
               display: none;
            }
      }
</style>
<!--footer start-->
<div class="container-fluid" style="background-color: #151B54;">
    <div class="row" style="padding-top: 30px;">
    	<div class="col-md-2">
    		<h5 style="color: #fedcba;">Company</h5>
    		<ul style="list-style-type: none;">
    			<li>About Medassist</li>
    			<li>Customer Speak</li>
    			<li>In the News</li>
    			<li>Terms and Conditions</li>
    			<li>Privacy Policy</li>
    			<li>Contact</li>

    		</ul>
    	</div>
    	<div class="col-md-2">
    		<h5 style="color: #fedcba;">Shopping</h5>
    		<ul style="list-style-type: none;">
    			<li>Browse by manufacture</li>
    			<li>Health Articles</li>
    			<li>Offer / Coupens</li>
    			<li>FAQs</li>
    		</ul>
    	</div>
    	<div class="col-md-2">
    		<h5 style="color: #fedcba;">Categories</h5>
    		<ul style="list-style-type: none;">
    			<li>Ayush</li>
    			<li>Family Care</li>
    			<li>Fitness</li>
    			<li>Personal Care</li>
    			<li>Treatments</li>
    		</ul>
    	</div>
    	<div class="col-md-2">
    		<h5 style="color: #fedcba;">Social</h5>
    		<ul style="list-style-type: none;">
    			<li>Facebook</li>
    			<li>Twitter</li>
    			<li>Instagram</li>
    			<li>Youtube</li>
    		</ul>
    	</div>
    	<div class="col-md-1"></div>
    	<div class="col-md-3">
    		<h6 style="color: #fedcba;">SUBSCRIBE TO OUR NEWSLETTER</h6>
    		<p style="color: white;">Get a free subscription to our health and fitness tip and stay tuned to our latest offers</p>
    		<div class="row">
    			<div class="col-md-12">
    				<form>
    					<input type="text" name="" placeholder="Enter your Email">
    				</form>
    			</div>
    		</div><br>
    		<div class="row fimg">
    			<div class="col-md-12"><img src="/static/play.png" width="90" height="50"><span style="padding-left: 30px;"><img src="/static/app_store.png" width="90" height="50"></span></div></div>
    		</div>
    	</div>
	<br>
    </div>

<!--footer end --->
<style type="text/css">
	ul li{
		color: white;
		padding-top: 5px;
	}
	@media(max-width: 1110px)
      {
          .fimg{
               display: none;
            }
      }
</style>
