<!DOCTYPE html>
<link href="/static/brand.css" rel="stylesheet">
<html lang="en">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
      <script src="/static/branddropdownjson.js"></script>
    <title>brand Interface</title>
    <style>

    </style>
</head>
<body>
<form action="/submitbrand" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="maincontainer">
          <div class="box" >
               <div class="boxheading" style="background: linear-gradient(-135deg, #c850c0, #4158d0);">
                   
                   <span class="headingtextinterface">Brand Interface</span>
                <span style="width: 65%; display: flex; justify-content: flex-end; padding: 5px;">
                    <a href="http://localhost:8000/displayallbrands">
                        <i class="material-icons" style="color: #FFFFFF; font-size: 24px;">toc
                        </i>
                    </a>
                </span>

               </div>
              <div style="margin-top: 10px;">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">add_shopping_cart</i>
                       <select id="categoryid" name="categoryid">
                           <option value="" disabled selected>Choose your option</option>
                       </select>
                       <label>Select Category Id</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">add_shopping_cart</i>
                       <select id="subcategoryid" name="subcategoryid">
                           <option value="" disabled selected>Choose your option</option>
                       </select>
                       <label>Select SubCategory Id</label>
                    </div>
                </div>

                  <div class="row">
                      <div class="input-field col s6">
                         <i class="material-icons prefix">account_circle</i>
                         <input id="brandname" name="brandname" type="text" class="validate">
                         <label for="brandname">Brand Name</label>
                      </div>
                      <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="contactperson" name="contactperson" type="text" class="validate">
                            <label for="contactperson">Contact Person</label>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="mobilenumber" name="mobilenumber" type="text" class="validate">
                            <label for="mobilenumber">Mobile Number</label>
                      </div>
                      <div class="input-field col s6">
                            <div class="file-field input-field">
                                <div class="btn" style="background: linear-gradient(-135deg, #c850c0, #4158d0);">
                                   <span>File</span>
                                   <input type="file" name="brandicon">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field col s12">
                          <select id="status" name="status">
                              <option value="" disabled selected>Choose your option</option>
                              <option value="1">Top</option>
                              <option value="2">Trending</option>
                              <option value="3">Popular</option>
                              <option value="4">Discontinue</option>
                          </select>
                          <label>Status</label>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col s6 btnrow">
                          <button class="btn waves-effect waves-light btnstyle" type="submit" name="action" style="background: linear-gradient(-135deg, #c850c0, #4158d0);">Submit
                             <i class="material-icons right" >send</i>
                          </button>
                      </div>

                      <div class="col s6 btnrow">
                           <button class="btn waves-effect waves-light btnstyle" type="reset" name="action" style="background: linear-gradient(-135deg, #c850c0, #4158d0);">Reset
                             <i class="material-icons right">delete</i>
                           </button>
                      </div>
                  </div>

                  <div class="row">
            <div class="col s12 btnrow">
                 <span class="messagestyle">{{message}}</span>
            </div>
        </div>

              </div>
    </div>
    </div>
</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
          $('select').formSelect();
        });
</script>
</html>